@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

.container {
  max-width: 1140px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  margin: 0 auto;
}

.btn__primary {
  min-width: 140px;
  border-width: 0px;
  background-color: #7582f1;
  color: #fff;
  text-align: center;
  padding: 15px 24px;
  border-style: solid;
  border-color: #7582f1;
  border-radius: 8px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.btn__primary:hover {
  -webkit-box-shadow: 0px 8px 40px 5px #7581f171;
          box-shadow: 0px 8px 40px 5px #7581f171;
}

header {
  background-color: #1c1134;
  padding: .9em 0;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: auto;
  z-index: 100;
}

header .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav__menu .nav__logo {
  width: 20%;
}

header .nav__menu .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

header .nav__menu .nav__list .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 20px 40px;
  cursor: pointer;
}

header .nav__menu .nav__list .nav__link .dropdown-icon {
  margin-left: 8px;
  width: 18px;
}

header .nav__menu .nav__list a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

header .nav__menu .nav__list a:hover {
  color: #7582f1;
}

header .nav__menu .nav__list .dropdown-content {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 180px;
  overflow: auto;
  z-index: 1;
  margin-top: 11em;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

header .nav__menu .nav__list .dropdown-content a {
  color: #222222;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  display: block;
}

header .nav__menu .nav__list .dropdown-content a:hover {
  background-color: #e1e1ff;
}

header .nav__menu .nav__list .dropdown-content-margin {
  margin-top: 8.5em;
}

header .nav__menu .nav__list .nav__btn {
  margin-left: 2.5em;
  padding: 15px 24px;
  border-style: solid;
  border-width: 3px;
  border-color: #7582f1;
  border-radius: 8px;
  background-color: rgba(56, 152, 236, 0);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #7582f1;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

header .nav__menu .nav__list .nav__btn:hover {
  background-color: #7582f1;
  color: white;
}

header .ham__btn {
  display: none;
}

@media only screen and (max-width: 850px) {
  header .nav__menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .nav__menu .nav__logo {
    width: 30%;
  }
  header .nav__menu .nav__list {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100vw;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #1c1134;
    z-index: -1;
    padding: 40px 0;
    margin-left: -10px;
    -webkit-transform: translate(0, -150%);
            transform: translate(0, -150%);
  }
  header .nav__menu .nav__list li {
    margin: 0 auto;
  }
  header .nav__menu .nav__list .dropdown-content {
    width: 100vw;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: -47%;
  }
  header .ham__btn {
    display: block;
    margin-right: 20px;
    width: 48px;
    padding: 10px;
  }
}

@media only screen and (max-width: 500px) {
  header .nav__menu .nav__logo {
    width: 70%;
  }
  header .nav__menu .nav__list {
    margin-left: -8.6%;
  }
  header .nav__menu .nav__list .nav__btn {
    width: 80vw;
  }
  header .nav__menu .nav__list .dropdown-content {
    width: 100vw;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: -43%;
  }
  header .ham__btn {
    margin-right: 0%;
  }
}

.hero__section {
  background-color: #1c1134;
  padding-top: 16em;
  background-image: url(../img/lines.svg);
  background-position: 100% 0%;
  background-size: auto;
  background-repeat: no-repeat;
}

.hero__section .hero__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.hero__section .hero__grid .hero__text__section {
  color: white;
  font-weight: 400;
  max-width: 412px;
}

.hero__section .hero__grid .hero__text__section .hero__heading__top {
  color: #7582f1;
  line-height: 22px;
  font-size: 12px;
  margin-bottom: 10px;
  letter-spacing: 1.68px;
  font-weight: 500;
}

.hero__section .hero__grid .hero__text__section .hero__heading__mega {
  font-size: 52px;
  line-height: 62px;
  margin: 20px 0 40px;
  letter-spacing: -1.3px;
  font-weight: 500;
}

.hero__section .hero__grid .hero__text__section .hero__description {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 40px;
  font-weight: 400;
}

.hero__section .hero__grid .hero__text__section .btn__primary {
  margin-bottom: 100px;
}

@media only screen and (max-width: 850px) {
  .hero__section .hero__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-ordinal-group: revert;
        -ms-flex-order: revert;
            order: revert;
  }
  .hero__section .hero__grid .hero__text__section {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: none;
  }
  .hero__section .hero__grid img {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .hero__section {
    padding-top: 8.8em;
  }
  .hero__section .hero__grid .hero__text__section .hero__heading__top {
    display: none;
  }
  .hero__section .hero__grid .hero__text__section .hero__heading__mega {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
  }
}

.paint__fixed {
  background: none;
  border: none;
  bottom: 12px;
  cursor: pointer;
  height: 40px;
  opacity: .9;
  outline: none;
  padding: 0;
  position: fixed;
  -webkit-transition: opacity .4s linear 0ms, visibility 0ms linear 0ms, -webkit-transform .1s linear 0s;
  transition: opacity .4s linear 0ms, visibility 0ms linear 0ms, -webkit-transform .1s linear 0s;
  transition: transform .1s linear 0s, opacity .4s linear 0ms, visibility 0ms linear 0ms;
  transition: transform .1s linear 0s, opacity .4s linear 0ms, visibility 0ms linear 0ms, -webkit-transform .1s linear 0s;
  visibility: visible;
  width: 40px;
  z-index: 10;
  right: 12px;
}

.paint__fixed:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.performance__section {
  padding: 80px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(24%, #fff), to(#e9eaf4));
  background-image: linear-gradient(180deg, #fff 24%, #e9eaf4);
}

.performance__section .performance__heading__top {
  color: #6c78a1;
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.performance__section .performance__heading__mega {
  max-width: 600px;
  margin-bottom: 32px;
  color: #1c1134;
  font-size: 36px;
  line-height: 42px;
  font-weight: 500;
  letter-spacing: -0.9px;
}

.performance__section .performance__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
}

.performance__section .performance__grid .grid__text__first {
  padding-right: 10px;
  margin-bottom: 35px;
  color: #1c1134;
  font-size: 18px;
  line-height: 32px;
}

.performance__section .performance__grid .heading__flex__first {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.performance__section .performance__grid .heading__flex__first img {
  margin-right: 24px;
  width: 48px;
}

.performance__section .performance__grid .heading__flex__first h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
}

.performance__section .performance__grid .first__description {
  color: #6c78a1;
  line-height: 28px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.performance__section .performance__grid .heading__flex__second {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.performance__section .performance__grid .heading__flex__second img {
  margin-right: 24px;
  width: 48px;
}

.performance__section .performance__grid .heading__flex__second h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
}

.performance__section .performance__grid .second__description {
  color: #6c78a1;
  line-height: 28px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.performance__section .img__performance {
  margin: 100px 0;
  width: 100%;
}

.performance__section .performance__approach {
  margin: 64px 0 100px;
}

.performance__section .performance__approach .approach__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 32px;
}

.performance__section .performance__approach .approach__grid .approach__heading__top {
  color: #6c78a1;
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.performance__section .performance__approach .approach__grid .approach__heading__mega {
  max-width: 600px;
  margin: 20px 0 32px;
  color: #1c1134;
  font-size: 36px;
  line-height: 42px;
  font-weight: 500;
  letter-spacing: -0.9px;
}

.performance__section .performance__approach .approach__grid .approach__description {
  padding-right: 101px;
  margin-bottom: 32px;
  color: #1c1134;
  font-size: 18px;
  line-height: 32px;
}

.performance__section .performance__approach .approach__grid .approach__tab {
  max-width: 588px;
  margin-top: -48px;
  margin-right: -80px;
  position: relative;
}

.performance__section .performance__approach .approach__grid .approach__tab .tab__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
}

.performance__section .performance__approach .approach__grid .approach__tab .tab__flex .tab__link {
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 2px solid #d7d8e5;
  border-top-style: none;
  background-color: rgba(221, 221, 221, 0);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: rgba(108, 120, 161, 0.7);
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: 9px 30px;
  text-align: left;
  cursor: pointer;
}

.performance__section .performance__approach .approach__grid .approach__tab .tab__flex .tab__link a {
  color: #1c1134;
  font-size: 18px;
  line-height: 32px;
}

.performance__section .performance__approach .approach__grid .approach__tab .tab__content {
  position: relative;
  display: block;
  overflow: hidden;
}

.performance__section .performance__approach .approach__grid .approach__tab .tab__content .tab__img {
  position: relative;
  display: block;
}

.performance__section .performance__approach .approach__grid .approach__tab .tab__content .tab__img img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.performance__section .performance__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
}

.performance__section .performance__content .content__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.performance__section .performance__content .content__flex img {
  margin-bottom: 16px;
  margin-right: 24px;
  width: 48px;
}

.performance__section .performance__content .content__flex h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
}

.performance__section .performance__content p {
  color: #6c78a1;
  line-height: 28px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.performance__section .testimonial {
  position: relative;
  height: 100%;
  text-align: left;
}

.performance__section .testimonial .approch__heading__mega {
  font-size: 24px;
}

.performance__section .testimonial .testimonial__wrapper {
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
  padding: 60px;
  border-radius: 12px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 42px 2px rgba(0, 0, 0, 0.027);
          box-shadow: 0 5px 42px 2px rgba(0, 0, 0, 0.027);
}

.performance__section .testimonial .testimonial__wrapper .testimonial__description {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 32px;
}

.performance__section .testimonial .testimonial__wrapper .testimonial__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.performance__section .testimonial .testimonial__wrapper .testimonial__name .homer {
  margin-right: 32px;
  max-width: 100%;
  height: 100%;
}

.performance__section .testimonial .testimonial__wrapper .testimonial__name .testimonial__name__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.performance__section .testimonial .testimonial__wrapper .testimonial__name .testimonial__name__info img {
  overflow: hidden;
  margin-right: 24px;
  border-radius: 50%;
}

.performance__section .testimonial .testimonial__wrapper .testimonial__name .testimonial__name__info .full__name {
  font-size: 16px;
}

.performance__section .testimonial .testimonial__wrapper .testimonial__name .testimonial__name__info .full__name span {
  color: #6c78a1;
}

.performance__section .swiper {
  width: 80%;
  margin-top: 100px;
  height: 100%;
  overflow: visible;
  margin-bottom: 60px;
}

.performance__section .swiper-slide {
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.performance__section .swiper-button-next {
  -webkit-transform: translateX(90px);
          transform: translateX(90px);
  z-index: 100;
}

.performance__section .swiper-button-prev {
  -webkit-transform: translateX(-90px);
          transform: translateX(-90px);
  z-index: 100;
}

.performance__section .swiper-pagination {
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
}

.performance__section .swiper-pagination-bullet {
  border: 2px solid blue;
  background-color: transparent;
  width: 12px;
  height: 12px;
  z-index: 100;
}

.performance__section .swiper-pagination-bullet-active {
  border: none;
  background-color: #7582f1;
}

@media only screen and (max-width: 850px) {
  .performance__section .performance__approach .approach__grid {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .performance__section .performance__approach .approach__grid .approach__tab {
    margin: 48px auto 0;
  }
  .swiper {
    width: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .performance__section .performance__heading__mega {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  .performance__section .performance__grid {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .performance__section .performance__approach .approach__grid .approach__heading__mega {
    font-size: 24px;
  }
  .performance__section .performance__approach .approach__grid .approach__tab .tab__flex {
    display: none;
  }
  .performance__section .performance__content {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
  }
  .performance__section .performance__content p {
    display: none;
  }
  .swiper {
    display: none;
  }
}

.integration {
  background-color: #1c1134;
  padding: 80px 0;
  background-image: url(../img/lines.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0;
}

.integration .integration__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  -webkit-column-gap: 32px;
          column-gap: 32px;
  row-gap: 16px;
}

.integration .integration__grid .integration__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 64px;
}

.integration .integration__grid .integration__text .heading__top {
  color: #6c78a1;
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 1.68px;
  margin-bottom: 10px;
}

.integration .integration__grid .integration__text h2 {
  margin-bottom: 24px;
  color: white;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.integration .integration__grid .integration__text .text__description {
  margin-bottom: 48px;
  color: #e1e1ff;
  font-size: 18px;
  line-height: 32px;
}

@media only screen and (max-width: 850px) {
  .integration .integration__grid {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .integration .integration__grid img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .integration .integration__grid {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .integration .integration__grid .integration__text {
    margin-left: 0%;
  }
}

.compliance {
  padding-top: 64px;
  border-bottom: 0.1px solid #a79d9d;
}

.compliance .compliance__img {
  margin: 40px auto 100px;
  max-width: 890px;
  margin-right: auto;
  margin-left: auto;
}

.compliance .compliance__img img {
  width: 100%;
}

.compliance .heading__top {
  color: #6c78a1;
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 1.68px;
  margin-bottom: 10px;
}

.compliance .heading-mega {
  max-width: 600px;
  margin: 20px 0 32px;
  color: #1c1134;
  font-size: 36px;
  line-height: 42px;
  font-weight: 500;
  letter-spacing: -0.9px;
}

.compliance .compliance__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
}

.compliance .compliance__grid .description__first {
  padding-right: 10px;
  margin-bottom: 32px;
  color: #1c1134;
  font-size: 18px;
  line-height: 32px;
}

.compliance .compliance__grid .heading-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.compliance .compliance__grid .heading-logo img {
  margin-right: 24px;
  width: 48px;
}

.compliance .compliance__grid .heading-logo h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.compliance .compliance__grid .description-light {
  color: #6c78a1;
  line-height: 28px;
  margin-bottom: 10px;
  font-size: 16px;
}

@media only screen and (max-width: 500px) {
  .compliance {
    padding-bottom: 60px;
  }
  .compliance .heading-mega {
    font-size: 24px;
  }
  .compliance .compliance__grid {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 32px;
  }
  .compliance .compliance__grid .description-light {
    display: none;
  }
}

.banner {
  padding-top: 64px;
}

.banner .banner__grid {
  position: relative;
  margin-bottom: 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.35fr 1fr;
      grid-template-columns: 0.35fr 1fr;
  padding: 40px 0 40px 64px;
  border-radius: 22px;
  background-image: url("../img/cta.svg");
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: #1c1134;
}

.banner .banner__grid .banner__text {
  max-width: 530px;
  padding-left: 32px;
  margin-bottom: 32px;
}

.banner .banner__grid .banner__text h2 {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: white;
}

.banner .banner__grid .banner__text p {
  color: #6c78a1;
  line-height: 28px;
  margin-bottom: 10px;
  font-size: 16px;
}

.banner .banner__grid .banner__form {
  margin-bottom: 15px;
}

.banner .banner__grid .banner__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner__grid .banner__form form input[type=text] {
  margin-right: 10px;
  border-radius: 8px;
  font-size: 15px;
  display: block;
  width: 100%;
  height: 45px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.banner .banner__grid .banner__form form input[type=text]:focus {
  border: 1px solid blue;
}

@media only screen and (max-width: 850px) {
  .banner .banner__grid .banner__form form input[type=text] {
    max-width: 150px;
  }
}

@media only screen and (max-width: 500px) {
  .banner .banner__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 400px 10px 0;
  }
  .banner .banner__grid .banner__text {
    margin-left: 0%;
  }
  .banner .banner__grid .banner__text h2 {
    font-size: 16px;
    text-align: right;
  }
  .banner .banner__grid .banner__text p {
    display: none;
  }
  .banner .banner__grid .banner__form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .banner__grid .banner__form form input[type=text] {
    max-width: 100%;
    margin-right: 0%;
    margin-bottom: 10px;
  }
}

.footer {
  padding: 60px 0 40px;
  background-color: #e9eaf4;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .footer__flex-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  text-align: left;
}

.footer .footer__flex-top .footer__logo img {
  width: 100%;
  max-width: 280px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 0% 50%;
     object-position: 0% 50%;
  cursor: pointer;
}

.footer .footer__flex-top .footer__logo p {
  margin-top: 16px;
  color: #6c78a1;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 32px;
  line-height: 1.2;
  letter-spacing: 1px;
}

.footer .footer__flex-top .footer__div h5 {
  font-size: 16px;
  line-height: 35px;
  font-weight: 500;
  text-align: left;
}

.footer .footer__flex-top .footer__div ul {
  list-style: none;
  margin-bottom: 10px;
}

.footer .footer__flex-top .footer__div ul li {
  display: block;
  margin-bottom: 10px;
  color: #6c78a1;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.footer .footer__flex-top .footer__div ul li:hover {
  text-decoration: underline;
}

.footer .footer__div__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__div__bottom .footer__copyright {
  font-size: 15px;
  color: #6c78a1;
  margin-right: 32px;
}

.footer .footer__div__bottom .copyright__terms {
  margin-right: 32px;
}

.footer .social__icons {
  margin-left: 160px;
}

.footer .social__icons img {
  margin-right: 16px;
  max-width: 100%;
  display: inline-block;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .footer {
    padding: 60px 20px 40px;
  }
  .footer .footer__flex-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  .footer .footer__div__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .footer__div__bottom .footer__copyright {
    margin-bottom: 10px;
  }
  .footer .footer__div__bottom .copyright__terms {
    margin-bottom: 10px;
  }
  .footer .social__icons {
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .footer .footer__flex-top .footer__div ul {
    text-align: center;
  }
  .footer .footer__div__bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__div__bottom .footer__copyright {
    margin-bottom: 15px;
    margin-right: 0%;
    text-align: center;
  }
  .footer .footer__div__bottom .social__icons {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 0 32px;
  }
  .btn__primary {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */