@import './variable';

.compliance {
    padding-top: 64px;
    border-bottom: .1px solid rgb(167, 157, 157);

    &__img {
        margin: 40px auto 100px;
        max-width: 890px;

        img {
            width: 100%;
        }

        margin-right: auto;
        margin-left: auto;

    }

    .heading__top {
        color: $text-blue;
        font-size: 12px;
        line-height: 22px;
        font-weight: 500;
        letter-spacing: 1.68px;
        margin-bottom: 10px;
    }

    .heading-mega {
        max-width: 600px;
        margin: 20px 0 32px;
        color: $priamry-blue;
        font-size: 36px;
        line-height: 42px;
        font-weight: 500;
        letter-spacing: -0.9px;
    }

    .compliance__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 32px;

        .description__first {
            padding-right: 10px;
            margin-bottom: 32px;
            color: $priamry-blue;
            font-size: 18px;
            line-height: 32px;
        }

        .heading-logo{
            display: flex;
            margin-bottom: 8px;

            img{
                margin-right: 24px;
                width: 48px;
            }
            h2{
                flex: 1;
                font-size: 17px;
                line-height: 24px;
                font-weight: 600;
                margin-bottom: 10px;
            }
        }

        .description-light{
            color: $text-blue;
            line-height: 28px;
            margin-bottom: 10px;
            font-size: 16px;
        }
    }
}


@media only screen and (max-width:500px){
    .compliance{
        padding-bottom: 60px;
        .heading-mega{
            font-size: 24px;
        }

        .compliance__grid {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 32px;

            .description-light{
                display: none;
            }
        }
    }

}