@import './variable';

header {
    background-color: $priamry-blue;
    padding: .9em 0;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: auto;
    z-index: 100;


    .nav__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav__logo {
            width: 20%;
        }

        .nav__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;

            .nav__link {
                display: flex;
                align-items: center;
                padding: 20px 0 20px 40px;
                cursor: pointer;


                .dropdown-icon {
                    margin-left: 8px;
                    width: 18px;
                }
            }

            a {
                color: white;
                text-decoration: none;
                font-size: 16px;
                line-height: 26px;
                font-weight: 500;

                &:hover {
                    color: $light-blue;
                }
            }

            .dropdown-content {
                display: block;
                position: absolute;
                background-color: white;
                min-width: 180px;
                overflow: auto;
                z-index: 1;
                margin-top: 11em;
                border-radius: 3px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

                a {
                    color: #222222;
                    padding: 8px 16px;
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 14px;
                    display: block;

                    &:hover {
                        background-color: #e1e1ff;
                    }
                }
            }

            .dropdown-content-margin {
                margin-top: 8.5em;
            }
        }
    }

    .ham__btn {
        display: none;
    }
}


@media only screen and (max-width:850px) {
    header {
        .nav__menu {
            align-items: flex-start;

            .nav__logo {
                width: 30%
            }

            .nav__list {
                position: absolute;
                flex-direction: column;
                align-items: center;
                position: absolute;
                width: 100vw;
                transition: .5s;
                background-color: $priamry-blue;
                z-index: -1;
                padding: 40px 0;
                margin-left: -10px;
                transform: translate(0, -150%);

                li {
                    margin: 0 auto;
                }

                .dropdown-content {
                    width: 100vw;
                    margin-top: 10px;
                    margin-right: 20px;
                    margin-left: -47%;
                }
            }
        }

        .ham__btn {
            display: block;
            margin-right: 20px;
            width: 48px;
            padding: 10px;
        }
    }
}

@media only screen and (max-width:500px) {
    header {
        .nav__menu {
            .nav__logo {
                width: 70%;
            }

            .nav__list {
                margin-left: -8.6%;

                .dropdown-content {
                    width: 100vw;
                    margin-top: 10px;
                    margin-right: 20px;
                    margin-left: -43%;
                }
            }
        }

        .ham__btn {
            margin-right: 0%;
            // width: 9%;
        }
    }
}